.titulo{
    color: rgb(3, 41, 41);
    background-color: rgb(7, 226, 106);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
}
.encabezado{
    background-color: cadetblue;
    border-radius: 5px;/*bordes redondeados header*/
    height: 50px;/*ancho heder*/
}
.salon{
    color: black;
    font-family: fantasy;
}
.navegacion{
    display:flex;}/*alinear navegacion*/
}
.fondo{
    background-color: rgb(247, 241, 241);
    height: 300px;
    background-image: url('/Imagen/img_inicio.JPG');
    background-size: 100px 100px;
}

