.intro{
    background-color: black;
}

.intro__info{
    color: white;
    text-shadow: #fff 0 0 10px;
    text-align: center;
    background-image: url(../Imagen/fondo_inicio_desc.jpg); 
    /* position: absolute;  */
    background-size: cover;
    /width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
/* .img_fondo_text{ */
    /* position: absolute; */


.titulo_inicio{ 
    color: rgb(221, 190, 14);
    font-family: 'praise',sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 5px 5px black;
    background-color;
    margin: auto ;
    padding: 50px;
}

.encabezado{
    /* background-image: url(../Imagen/img_header2.jpg); */
    /* background-repeat: no-repeat;   */
    /* background-size: cover;   */
    background-color: rgb(0, 12, 12);
    border-radius: 10px;/*bordes redondeados header*/
    height: 80px;/*ancho heder*/
    border: black 10px;
    background: linear-gradient(#333, #333 35%, #eee 70%, #333 70%);
}

.encabezado__salon{
    border-radius: 5px;/*bordes redondeados header*/
    height: 50px;/*ancho heder*/
}

.imagenheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 20%;
}

.img__inicio{
    background-size: contain;
}

.navegacion ul li{/*menu navegacion*/
    display: inline;
    margin: 0px 30px;
    
}

.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}

.lista{
    color: brown;
}

.titulo_salon{
    color: rgb(180, 30, 30);
    font-family: 'lobter',sans-serif;
    text-align: center;
    font-size: 80px;
    text-shadow: 3px 5px 5px black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 120px;
    position: absolute;
}

.img_titulo{/*imagen de titulo salon*/
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    height: 300px;
    width: 800px;
    border-radius: 15%;
    background-color: black;
    box-shadow: 10px 15px 5px black;
}

body{
    margin: 0;
    padding: 0;
    

    /*background-image: url('../Imagen/img_inicio.JPG');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;*//*para no repetir la imagen*/
    /*justify-content: center;*/
}

.descripcion_salon{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 40px;
}

.img_salon{/*correig aqui card*/
    width: 300px;
    height: 300px;
    border-radius: 15%;
}

.card__column{
    /* border: black solid 3px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 30px;
    background-color: rgba(147, 207, 6, 0.521);
    background-image: url(../Imagen/fondo\ verde1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid_card{
    background-color: rgb(124, 175, 243);
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center; 
    /* align-items: center; */
    /* border: solid black 3px; */
    background-image: url(../Imagen/luces\ colgantes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    display: flex;
    background-color: #06c1796c;
    align-items: center;
    margin-left: 50px; 
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    box-shadow: black 10px 15px 5px;
    width: 60%;
    /* justify-content: space-between; */
    /* align-items: center; */
    border: solid black;
    border-radius: 15%;
}

.card__info{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(238, 227, 227);
    margin-left: 20px;
}

.card__titulo{
    font-family:cursive;
    color: #9cdf88;
    align-items: center;
    margin-left: 60px;
}

.img_inicio{
    height: 100%;
    width: 100%;
}

#contenedor{/*utulizamos grid*/
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    /* background-color: rgb(70, 130, 180); */
    background-image: url(../Imagen/fondo\ grid.jpg);
}

.grid__items__ser{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1 ;
    grid-row-end: 3;
    border: black solid 2px;
}

.grid__items__amb{
    border: black solid 2px;
    background-image: url(../Imagen/deco.jpg);
}

.grid__items__est{
    border: black solid 2px;
    background-image: url(../Imagen/estudio_fot.jpg);
    background-size: cover;
}

.grid__items__cab{
    border: black solid 2px;
    background-image: url(../Imagen/cab\ de\ fotos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid__items__ext{
    border: black solid 2px;
    background-image: url(../Imagen/exteriores1.JPG);
    background-size: cover;
}

.grid__items__pis{ /*seguir aca*/ 
    border: black solid 2px;
    background-image: url(../Imagen/pista\ baile.jpg);
    background-size: cover;
}

.grid__items__esp{
    border: black solid 2px;
    background-image: url(../Imagen/patio.jpg);
    background-size: cover;
}

.grid__items__menu{
    border: black solid 2px;
    background-image: url(../Imagen/menu_comida.jpg);
    background-size: cover;
}

.grid__items__rob{
    border: black solid 2px;
    background-image: url(../Imagen/robot_luminoso.jpg);
    background-size: cover;
}

.robot_luminoso{
    height: 300px;
}

.est__fot{
    height: 300px;
    width: 300px;
}

.exterior{
    height: 250px;
    width: 250px;
}

footer{
    background-color: rgb(66, 64, 64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    height: 100px;
    width: 100%;
    border: black solid 2px;
    
    
    
    
}

.pie_de_pag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    height: 60px;
    width: 100%;
}

.logo_redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 60px;
}

.info__pie{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    justify-content: space-between;
}

.direccion{
    font-family: cursive;
    color: green;
    background-color: khaki;
}

/*comienzo sliders*/

@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200vw;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
    padding: inherit;
}

.slide {
	width: 100%;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/* .slides:hover .slide { 
	animation-play-state: paused;
}*/

.slide img {
	width: 100%;
    height: 450px;
	vertical-align: top;
}

.slide a {
	width: 100%;
    display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	/* .slide { 
		width: 1200px;
	}*/

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}

/* .info__nosotros{ 
    font-size: 90px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}*/


/*corregir la img de fondo*/
.nosotros{ 
    background-image: url(../Imagen/fondo_sobre_nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    
    
}

.info_nosotros{
    font-size: 50px;
    font-family: serif;
    color: tomato;
}


